{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "semi": false,
    "trailingComma": "none",
    "printWidth": 100,
    "quoteProps": "as-needed",
    "bracketSpacing": true
}
